body {
  font-family: Helvetica, Arial, sans-serif; }

ul {
  list-style: none;
  padding: 0; }

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 5px; }

a:hover {
  padding-bottom: 2px;
  box-shadow: inset 0 -1px 0 0 black; }

.h-iframe {
  padding: 20px;
  width: calc(100% - 40px);
  border: none;
  text-shadow: 0 1px white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

.iframe-wrapper {
  position: relative; }

.iframe-wrapper .drag {
  cursor: pointer;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  background-size: 40px;
  background-image: url("draggable.svg");
  background-repeat: no-repeat;
  background-position: 0 10px; }

.h-code {
  padding: 20px;
  text-shadow: 0 1px white;
  white-space: pre;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 15px 14px 10px 14px;
  background: #F8F8F8; }
