@charset "UTF-8";
/**
 * Basic wasser mixin, generates responsive property.
 * ---
 * @access public
 * ---
 * @param {string} $property - The property to be scaled
 * @param {number} $max — The max value for the property
 * @param {number|string} [$min] - The min value ot the property
 */
/**
 * Basic wasser mixin for responsive typography.
 * ---
 * @access public
 * ---
 * @param {number} $max — The max value for the property
 * @param {number|string} [$min] - The min value ot the property
 * @param {string} [$property] - The property, defaults to padding
 */
#container {
  display: flex; }

#regularContainer,
#wasserContainer {
  display: flex;
  flex-basis: 50%;
  flex-direction: column; }

#regular,
#wasser {
  display: flex;
  flex-wrap: wrap; }

.dynamic,
.static {
  flex-basis: 20%; }

.dynamic {
  margin: calc( 3.33333px + (5 - 3.33333) * (100vw - 320px) / (1500 - 319));
  border-width: calc( 6.66667px + (10 - 6.66667) * (100vw - 320px) / (1500 - 319));
  padding: calc( 3.33333px + (5 - 3.33333) * (100vw - 320px) / (1500 - 319));
  border-color: black;
  border-style: solid; }
  @media (min-width: 1500px) {
    .dynamic {
      margin: 5px; } }
  @media (max-width: 320px) {
    .dynamic {
      margin: 3.33333px; } }
  @media print {
    .dynamic {
      margin: 5px; } }
  @media (min-width: 1500px) {
    .dynamic {
      border-width: 10px; } }
  @media (max-width: 320px) {
    .dynamic {
      border-width: 6.66667px; } }
  @media print {
    .dynamic {
      border-width: 10px; } }
  @media (min-width: 1500px) {
    .dynamic {
      padding: 5px; } }
  @media (max-width: 320px) {
    .dynamic {
      padding: 3.33333px; } }
  @media print {
    .dynamic {
      padding: 5px; } }

.static {
  margin: 5px;
  border: 10px solid black;
  padding: 5px; }
