@import '~wasser/wasser';

$wasser-viewport-min: 500;
$wasser-viewport-max: 1000;

.fontSize {
  @include wasser(font-size, 100, 50);
}

.padding {
	@include wasser(padding, 40, 20);
}

.width {
  $ratio: 0.617283951;
	@include wasser(width, 400, 250);
  @include wasser(height, 400 * $ratio, 250 * $ratio);

  // Centers the image
  margin: 0 auto;
  // Avoids too much width below the breakpoint.
  max-width: 100%;

  img {
    padding: 0;
    width: 100%;
    height: 100%;
  }
}
