@charset "UTF-8";
/**
 * Basic wasser mixin, generates responsive property.
 * ---
 * @access public
 * ---
 * @param {string} $property - The property to be scaled
 * @param {number} $max — The max value for the property
 * @param {number|string} [$min] - The min value ot the property
 */
/**
 * Basic wasser mixin for responsive typography.
 * ---
 * @access public
 * ---
 * @param {number} $max — The max value for the property
 * @param {number|string} [$min] - The min value ot the property
 * @param {string} [$property] - The property, defaults to padding
 */
body {
  margin: calc( 26.66667px + (40 - 26.66667) * (100vw - 320px) / (1500 - 319)); }
  @media (min-width: 1500px) {
    body {
      margin: 40px; } }
  @media (max-width: 319px) {
    body {
      margin: 26.66667px; } }
  @media print {
    body {
      margin: 40px; } }

.inner {
  padding: calc( 5px + (20 - 5) * (100vw - 320px) / (1500 - 319));
  background: lightgray; }
  @media (min-width: 1500px) {
    .inner {
      padding: 20px; } }
  @media (max-width: 319px) {
    .inner {
      padding: 5px; } }
  @media print {
    .inner {
      padding: 20px; } }
